{{>partials/header}}

  {{#showWelcome}}
    opa {{name}} {{lastName}}, você já tem {{user.age}}?
  {{/showWelcome}}
  
  {{#showOld}}
    Como vai a vida?
  {{/showOld}}
  {{^showOld}}
    Beleza!
  {{/showOld}}


  <hr>

  <h2>Produtos</h2>

  <!-- objeto -->
  <ul>
    {{#products}}
     {{>partials/productItem}}
    {{/products}}
  </ul>

  <hr>

  <h2>Produtos a partir de R$ 12,00</h2>
  <ul>
    {{#expensives}}
     {{>partials/productItem}}
    {{/expensives}}
  </ul>

  <hr>

  <!-- para lista simples, colocamos um ponto -->
  <ul>
    {{#frasesDoDia}}
      <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
      <p>Não há frases motivacionais hoje</p>
    {{/frasesDoDia}}
  </ul>



{{>partials/footer}}