{{>partials/header}}

<h2>Qual ano você nasceu?</h2>
  <form action="/idade-resultado" method="POST">
    <input type="number" name="ano" placeholder="digite o ano do seu nascimento"><br>
    <input type="submit" value="Enviar">
  </form>

  {{#mostrarIdade}}
    <hr>
    Você tem {{idade}} anos.
  {{/mostrarIdade}}
{{>partials/footer}}